# Core
fastapi==0.89.1
uvicorn==0.20.0
pydantic[email]==1.10.4

# DB tools
sqlalchemy==1.4.45
alembic==1.8.1
psycopg2-binary==2.9.5

# Security tools
passlib==1.7.4
python-jose[cryptography]==3.3.0
python-multipart==0.0.5


# Autoformatting & Codestyle
pre-commit==3.0.3
black==23.1.0
flake8==6.0.0
pyupgrade==3.3.1
